*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
.navbar{
    background-color: #2874f0;
}
.navbar-brand{
    margin-left:80px ;
}

.form-control{
border-radius: 2px;
height: 35px;
width: 550px;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
padding-left: 15px;
}

.L0Z3Pu {
   border: 1px solid #fff;
   height: 30px;
   background-color: #fff;
   margin-left: -35px;
   margin-top: 2.4px;
}
.login{
    height: 30px;
    border: 1px solid #ffff;
    background-color: #ffff;
    color: #2874f0;
    width: 90px;
    margin-left: 250%;
    text-align: center;
    margin-top: 10px;
}
#more{
    position: relative;
    color: #ffff;
   left: 607%;
   top: 28%;
   cursor: pointer;
}

.zZ3yfL{
    transform: rotate(-90deg);
    margin-top: -19px;
    margin-left: 700%;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}
 .V3C5bO{
    position: relative;
   left: 638%;
   top: 12px;
   text-decoration: none;
}
#cart{
    color: #ffff;
    position: relative;
   left: 640%;
   top: 13px;
   text-decoration: none;
}
#cartBox{
    margin-top: 13px;
    text-decoration: none;
}
#arrow{
    position: relative;
    top: -2px;
}
.category ul {
    display: flex;
   
    list-style: none;
    text-align: center;
    font-weight:500;
    font-size: smaller;
  
}
.category ul li{
    margin-left: 70px;
margin-top: 10px;
margin-bottom: -10px;
cursor: pointer;
}

.category ul li img{
    height: 70px;
    width: 70px;
}
.category ul a{
    text-decoration: none;
    color: #000;
}
.category ul a:hover{
    color: #1460db;
}
._2sVfI7{
    transform: rotate(-90deg);
    margin-left: 3px;
}